.controls button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    min-width: 58px;
    color: var(--accent-1);
    font-weight: bold;
    background-color: var(--neutral-2);
    border-radius: 1em;
    padding: 0.7em;
    margin: 0.2em;
    box-shadow: var(--paper-shadow);
}
