.App {
    --brand: #7d4cdb;
    --accent-1: #6fffb0;
    --accent-2: #fd6fff;
    --accent-3: #81fced;
    --accent-4: #ffca58;
    --neutral-2: #3d138d;

    --row-size: 8vh;
    --column-size: 15vmin;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
}

header {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: var(--brand);
    background-color: var(--accent-1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    margin: 0 10px;
}
footer {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--neutral-2);
    align-items: baseline;
    justify-content: center;
}
footer a {
    color: var(--brand);
    text-decoration: unset;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-4); /*TODO: find better color*/
    border-radius: 2vw;
    max-width: fit-content;
}

.timers {
    display: flex;
    padding: 2vw;

    margin: 1.5vh;
    min-width: 75vw;
    justify-content: space-evenly;
}

.timer {
    display: flex;
    flex-direction: column;
}

.timer-val {
    display: flex;
    justify-content: space-evenly;
}

.display {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: var(--brand);
}
