@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Poppins', sans-serif;
}
@media (min-width: 576px) {
    body {
        font-size: 18px;
    }
}
@media (max-width: 576px) and (min-width: 100) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 200px) {
    body {
        font-size: 12px;
    }
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
